<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="32"
      fill="currentColor"
      class="bi bi-bar-chart-line"
      viewBox="0 0 16 16"
    >
      <path
        d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"
      />
    </svg>
    <span class="ms-2">Sample Dash Flask App</span>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    {{ top_menu_items|safe }}
  </ul>

  <div class="col-md-3 text-end me-2">
    <a class="text-decoration-none" href="/logout">
      <button type="button" class="btn btn-outline-primary me-2">Logout</button>
    </a>
  </div>
</header>
